<div class="general-styles">
  <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Best Products</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" routerLink = "" [ngClass] = " {active: menuOption == 'home'}" (click)="onOption('home')">Home</a>
       
        </div>
        <div class="navbar-nav">
          <a class="nav-link" routerLink = "products" [ngClass] = " {active: menuOption == 'products'}" (click)="onOption('products')">Products</a>
       
        </div>
        <div class="navbar-nav">
          <a class="nav-link" routerLink = "contact" [ngClass] = " {active: menuOption == 'home'}" (click)="onOption('contact')">Contact</a>
       
        </div>
        
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>